<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div>
                <h3>Your Id: <span id="myId"></span></h3>
                <h3>Online Users (click to connect)</h3>
                <div id="users">

                </div>
                <video id="local-video"></video>
                <video id="remote-video"></video>
            </div>
            </div>
            <p id="status"></p>
        </div>

       <script src = "/socket.io/socket.io.js"></script>

        <script>
            const socket = io();
            let resgisteredUsers = []
            let yourId = ""
            socket.on("connect",()=>{
                yourId = socket.id
                const idField = document.querySelector("#myId")
               idField.innerText = yourId
            })
              

            //webRTC connection
            const peer = new RTCPeerConnection({
                iceServers: [
                    {
                        urls: "stun:stun.stunprotocol.org"
                    }
                ]
            })

            const createCall = async (to) =>{
                const status = document.querySelector("#status")

                status.innerText = `Calling ${to}`

                const localOffer = await peer.createOffer()

                await peer.setLocalDescription(new RTCSessionDescription(localOffer))
                socket.emit("outgoing:call", {fromOffer: localOffer, receiver: to })
            }
            
            socket.on("incoming-call",async (data)=>{
                const {from, offer} = data
               
                console.log("incoming call")
                await peer.setRemoteDescription(new RTCSessionDescription(offer))
                const answer = await peer.createAnswer()
                await peer.setLocalDescription(new RTCSessionDescription(answer))
                
                socket.emit("call-accepted", {answer: answer, to: from})
            })
            
            socket.on("incoming-answer", async (data) =>{
                const {from, offer} = data
                console.log("incoming answer")
                await peer.setRemoteDescription(new RTCSessionDescription(offer))
            })
        
              socket.on("user:joined",async (id) =>{
    
             
                 const userBox = document.querySelector("#users")
        
                const response = await fetch("/users",{method: "GET"})
                const users = await response.json()
           
                users.forEach(async (element) => {
                  
                    if (element[0]!= yourId && !(resgisteredUsers.includes(element[0]))){
                     const btn = document.createElement("button")
                     btn.innerText = element[0]
                     btn.setAttribute("onclick", `createCall("${element[0]}")`)
                     userBox.appendChild(btn)
                    resgisteredUsers.push(element[0])
                    }
              })
              })
        

             
        </script>
</body>
</html>